@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oleo+Script');

/* general/page styling */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* colors & fonts */
html {
    font-size: 100%;
}

body {
    background-color: #42b7db;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1, h2, nav {
    font-family: 'Oleo Script', cursive;
}

h1 {
    color: white;
}

h3 {
    color: #42b7db;
}

#splash strong {
    color: #db200f;
}

p {
    color: #db200f;
}

a {
   color: #42b7db;
}

a:hover {
    color: #b3e8ed;
}

strong {
    font-weight: 700;
}

footer p {
    color: white;
}

/* menu styling */
nav {
    position: fixed;
    top: 0%;
    background: white;
    width: 100%;
}

ul {
    padding-left: 0;
    list-style: none;
}

nav ul {
    min-height: 75px;
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav li {
    font-size: 1.75em;
    font-weight: bolder;
}

nav a {
    color: #db200f;
}

/* splash styling */
h1 {
    font-size: 7em;
}

#splash {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
}

#splash div {
    width: 50%;
    font-size: 1.75em;
}

#splash h1, h2 {
    text-align: center;
    margin-bottom: 1%;
}
h2 {
    padding-top: 80px;
}

img#bb {
    width: 50%;
    margin-bottom: 5%;
}

/* section spacing */
#rsvp, #the-big-day, #accomodations, #faq, #contact-us, #dinner-seating, footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 20% 5% 20%;
}

.button {
    padding: 1.25em;
    color: #fff;
    min-width: 15%;
    background: #b3e8ed;
    border-color: #b3e8ed;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    -webkit-border-radius: 2.1875em;
    -moz-border-radius: 2.1875em;
    -ms-border-radius: 2.1875em;
    -o-border-radius: 2.1875em;
    border-radius: 2.1875em;
}

a.button:hover {
    color: #42b7db;
}

#rsvp a {
    background: #b3e8ed;
}

.block {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-top: 0;
    background: white;
    border-radius: 10px;
    padding: 2em;
    text-align: center;
}

h2 {
    color: #a71407;
    font-size: 3em;
    font-weight: bolder;
    margin-top: 0;
}

li {
    width: 90%;
    text-align: center; 
}

/* heading lines */
h3 {
  position: relative;
  text-align: center;
}

h3 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

h3:before {
  background: #42b7db;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

h1:before {
  left: 0;
}

#the-big-day li, #faq li {
    margin: 0 0 5% 0;
}

#the-big-day li p, #faq li p {
    margin: .5em 0;
}

#the-big-day li:last-child, #faq li:last-child {
    margin-bottom: 0;
}

#accomodations div {
    width: 100%;
}

.buttons {
    margin-top: 3%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* mobile styling */
@media only screen and (orientation: portrait) {
    ul {
        display: block;
    }
    
    li {
        font-size: 2em;
        width: 100%;
        margin: 0 0 5% 0;
    }

    img#bb {
        width: 100%;
        height: 50%;
    }   
}


/* footer */
footer a {
    font-size: 1.5em;
    color: #a71407;
}

img#heart {
    width: 5%;
} 